
@media only screen and (max-width: 645px){
  header{
    text-align: center;
    font-size: 75%;
  }
  body{
    font-size:75%;
  }
}


body{
background-color: #D1E5F4;
}
.form-group{
  background-color:#D1E5F4;
}
footer{
  position:fixed;
  text-align:center;
  padding:20px;
  width:100%;
  background-color:#D1E5F4;
}
.text-muted{
  text-align:center;
}
